nav {
    background-color: #693810;
    margin: 0;
    padding: 30px;
}

nav a {
    text-decoration: none;
    margin: 25px 25px;
    padding: 10px 10px;
    color: rgb(22, 20, 20);
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(89, 94, 94);
    color: rgb(17, 17, 17);
    border-radius: 8px;



}